streamlit
pymupdf         
python-dotenv
openai             
faiss-cpu
chromadb
sentence-transformers
wikipedia
biopython
rich
requests
langchain
langchain-community
langchain-openai
langchain-text-splitters
pypdf
nltk
arxiv